@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
    background-color: #EEE3CB;
    font-family: 'Lobster Two';
}

/* Site structure styling */

.site-container {
    display: grid;
    row-gap: 4rem;
}

/* Header styling */
.header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.header{
    display: flex;
    justify-content: center;
    background-color: #135488;
    width: 80%;
    padding: 1rem;
    font-size: 3rem;
    border-radius: 2rem;
}

/* Individual sections/categories*/
.category {
    display: flex;
    flex-direction: column;
}

.category-name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 11rem;
}

.item-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item {
    background-color: #D7C0AE;
    height: 30rem;
    width: 25rem;
    border-radius: 2rem;
}

/* Wishlist button */

.button-div {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.add-wish {
    width: 25%;
    padding: 1.5rem;
    font-size: 1.75rem;
    background-color: #967E76;
    border-width: 0;
}

/* Form Styling*/

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.add-item {
    margin-left: 1rem;
    font-size: 1.5rem;
    background-color: #967E76;
    border-radius: 1rem;
    border-width: 0.1rem;
}

.item-field {
    font-size: 1.5rem;
    border-radius: 1rem;
}

img {
    width: 200px;
}

h3 {
    width: 20%;
}
